@font-face {
  font-family: "MontserratBold";
  src:
  url("../fonts/Montserrat/montserrat-bold.woff") format("woff"),
  url("../fonts/Montserrat/montserrat-bold.ttf") format("truetype"),
  url("../fonts/Montserrat/montserrat-bold.eot?") format("embedded-opentype")
}

@font-face {
  font-family: "MontserratRegular";
  src:
  url("../fonts/Montserrat/montserrat-regular.woff") format("woff"),
  url("../fonts/Montserrat/montserrat-regular.ttf") format("truetype"),
  url("../fonts/Montserrat/montserrat-regular.eot?") format("embedded-opentype")
}

@font-face {
  font-family: "MontserratSemiBold";
  src:
  url("../fonts/Montserrat/montserrat-semibold.woff") format("woff"),
  url("../fonts/Montserrat/montserrat-semibold.ttf") format("truetype"),
  url("../fonts/Montserrat/montserrat-semibold.eot?") format("embedded-opentype")
}

@font-face {
  font-family: "MontserratMedium";
  src:
  url("../fonts/Montserrat/montserrat-medium.woff") format("woff"),
  url("../fonts/Montserrat/montserrat-medium.ttf") format("truetype"),
  url("../fonts/Montserrat/montserrat-medium.eot?") format("embedded-opentype")
}

@font-face {
  font-family: "LibreBaskervilleBold";
  src:
  url("../fonts/LibreBaskerville/librebaskerville-bold.woff") format("woff"),
  url("../fonts/LibreBaskerville/librebaskerville-bold.ttf") format("truetype"),
  url("../fonts/LibreBaskerville/librebaskerville-bold.eot?") format("embedded-opentype")
}

@font-face {
  font-family: "LibreBaskervilleItalic";
  src:
  url("../fonts/LibreBaskerville/librebaskerville-italic.woff") format("woff"),
  url("../fonts/LibreBaskerville/librebaskerville-italic.ttf") format("truetype"),
  url("../fonts/LibreBaskerville/librebaskerville-italic.eot?") format("embedded-opentype")
}

@font-face {
  font-family: "LibreBaskervilleRegular";
  src:
  url("../fonts/LibreBaskerville/librebaskerville-regular.woff") format("woff"),
  url("../fonts/LibreBaskerville/librebaskerville-regular.ttf") format("truetype"),
  url("../fonts/LibreBaskerville/librebaskerville-regular.eot?") format("embedded-opentype")
}
